body{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

h1{
    text-align: center;
    font-size: 72px;
    background: -webkit-linear-gradient(#c6a2a2, #69935c);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.game-info {
    text-align: center;
    color: white;
    font-size: 24px;
    margin-bottom: 20px;
}

.score{
    background-color: blue;
    margin: 0 20px;
    padding: 10px 10px;
    border-radius: 5px;
}

.frame {
    width:  80%;
    max-width: 900px;
    background-color: rgb(182, 211, 148);
    min-height: 300px;
    margin: auto;
    padding: 8x 16px;
    border-radius: 6px;
    text-align: center;
}

.board {
    display: inline-grid;
    border-radius: 5px;
    border: 3px solid rgb(15, 30, 13);
    background-color: #405e37;
}

.board div {
    width: 10px;
    height: 10px;
    padding: 10px;
}


.odd {
    background-color: #69935c;
}

.apple {
    background-color: red;
    font-size: 15px;
}

.snake {
    background-color: rgb(139, 89, 89);
}

.head{
    background-color: rgb(177, 116, 116);
    border-color: black;
}
