.header {
    text-align: center;
    font-size: 100px;
}

.cat-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: antiquewhite;
    margin: 10px 100px 10px 100px;
    border-radius: 20px;
}

.cat-image{
    width: 100%;
    overflow: hidden;
}

.cat-image img{
    width: 90%;
    max-height: 500px;
    border-radius: 50px;
    margin-top: 50px;
    margin-left: 20px;
    margin-bottom: 50px;
}

.cat-details {
    display: grid;
    grid-template-columns: 1fr;
    right: 0;
    font-size: 35px;
}

.genbutton {
    width: 250px;
    height: 100px;
    font-size: 25px;
    font-family: sans-serif;
    font-weight: bold;
}

.container2 {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
}