h1{
    margin-top: 300px;
    font-family: sans-serif;
    text-align: center;
    font-size: 100px;
}

.header-div{
    top: 0;
    display: flex;
    position: fixed;
    width: 100%;
    right: 0;
    left: 0;
    justify-content: space-between;
}

.level{
    text-align: right;
}

.disable-alerts{
    width: 75px;
    height: 30px;
    font-size: 10px;
    margin: 5px;
    background-color: lightgray;
    border-color: gray;
    border-width: 2px;
    font-family: sans-serif;
    cursor: pointer;
}

.the-div{
    display: flex;
    justify-content: center;
}

.the-button{
    background-color: red;
    width: 100px;
    height: 100px;
    border-color: black;
    border-width: 10px;
    border-radius: 100px;
    font-size: 15px;
    font-family: sans-serif;
    font-weight: bold;
    cursor: pointer;
}